img.center {
    display: block;
    margin: 0 auto;
}


body {
    background-color: rgb(95, 145, 192);
}

#top-bar {
    margin: auto;
    width: 70%;
}

#content {
    width: 70%;
    margin: auto;
}